recursive-include labdiscoveryengine/static *
recursive-include labdiscoveryengine/templates *
recursive-include labdiscoveryengine/translations *
include labdiscoveryengine/migrations/*.mako
include labdiscoveryengine/migrations/*.ini
include labdiscoveryengine/lua/*.lua
recursive-include labdiscoveryengine/migrations/versions *.py
