{% extends 'admin/master.html' %}
{% block body %}

    <h1>{{ gettext("No SQLAlchemy configured") }}</h1>
    <p>{{ gettext("If you want to be able to add students, groups and permissions, please go to the documentation to see how to add SQLAlchemy support:") }}</p>
    <ul>
        <li><a href="https://developers.labsland.com/labdiscoveryengine/en/stable/installation_next_steps.html" target="_blank">https://developers.labsland.com/labdiscoveryengine/en/stable/installation_next_steps.html</a></li>
    </ul>

{% endblock %}