{% extends "default/user/_base.html" %}

{% block container %}
<div class="col">
    <!-- Set flexbox on the row -->
    <div id="labAccordion" class="row d-flex flex-wrap">
        {% for lab in laboratories %}
            <div class="col-md-4 col-sm-6 mb-4">
                <!-- Add d-flex and flex-column on card -->
                <div class="card h-100 d-flex flex-column">
                    <div class="card-header bg-primary text-white" style="box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                        <h2 class="mb-0" style="font-size: 1.2em; font-weight: 600;">
                            <img src="{{ lab.image }}" alt="{{ lab.display_name }} Icon" height="30" style="border: 2px solid white; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
                            {{ lab.display_name }}
                        </h2>
                    </div>
                    <!-- Add flex-grow-1 specifically to description -->
                    <div class="card-body d-flex flex-column">
                        <p class="flex-grow-1" style="font-size: 0.9em;">{{ lab.description }}</p>
                        <div>
                            <a href="#" class="btn btn-primary btn-sm mb-2" style="font-weight: 600; border-radius: 15px;">Access</a>
                        </div>
                        <div class="mt-2">
                            <a href="#" class="btn btn-link btn-sm toggle-keywords" data-bs-toggle="collapse" data-bs-target="#keywords{{ loop.index }}"><i class="fas fa-tags"></i> <span>Keywords</span></a>
                            <a href="#" class="btn btn-link btn-sm toggle-resources" data-bs-toggle="collapse" data-bs-target="#resources{{ loop.index }}"><i class="fas fa-book"></i> <span>Resources</span></a>
                        </div>
                    </div>

                    <!-- Keywords and Resources -->
                    <div class="flex-grow-0">
                        <!-- Keywords -->
                        <div class="collapse mt-2" id="keywords{{ loop.index }}">
                            <h5 style="font-size: 0.8em;">Keywords:</h5>
                            <ul>
                                {% for keyword in lab.keywords %}
                                <li>{{ keyword }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Resources -->
                        <div class="collapse mt-2" id="resources{{ loop.index }}">
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Resource</th>
                                            <th>Access</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for resource in lab.resources %}
                                        <tr>
                                            <td>{{ resource }}</td>
                                            <td><a href="#" class="btn btn-secondary btn-sm">Access</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
  var keywordLinks = document.querySelectorAll('.toggle-keywords');
  var resourceLinks = document.querySelectorAll('.toggle-resources');

  keywordLinks.forEach(function(link) {
    var collapseElementId = link.getAttribute("data-bs-target");
    var collapseElement = document.querySelector(collapseElementId);
    var textElement = link.querySelector('span');

    collapseElement.addEventListener('show.bs.collapse', function () {
      textElement.textContent = 'Hide Keywords';
    });

    collapseElement.addEventListener('hide.bs.collapse', function () {
      textElement.textContent = 'Keywords';
    });
  });

  resourceLinks.forEach(function(link) {
    var collapseElementId = link.getAttribute("data-bs-target");
    var collapseElement = document.querySelector(collapseElementId);
    var textElement = link.querySelector('span');

    collapseElement.addEventListener('show.bs.collapse', function () {
      textElement.textContent = 'Hide Resources';
    });

    collapseElement.addEventListener('hide.bs.collapse', function () {
      textElement.textContent = 'Resources';
    });
  });
});

</script>
{% endblock %}
