{% extends "default/user/_base.html" %}

{% block container %}
<div class="col">
    <div id="labAccordion">
        {% for lab in laboratories %}
        <div class="card my-3">
            <div class="card-header d-flex justify-content-between align-items-center bg-primary text-white" style="box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                <h2 class="mb-0 flex-grow-1" style="font-size: 1.5em; font-weight: 600;">
                    <img src="{{ lab.image }}" alt="{{ lab.display_name }} Icon" height="40" style="border: 2px solid white; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
                    {{ lab.display_name }}
                </h2>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="flex-grow-1">{{ lab.description }}</p> <!-- Lab Description -->
                    <a href="#" class="btn btn-primary btn-lg align-self-start" style="font-weight: 600; border-radius: 20px;">Access</a>
                </div>

                <button class="btn btn-info btn-sm mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#keywords{{ loop.index }}"><i class="fas fa-tags"></i> View Keywords</button>
                <button class="btn btn-info btn-sm mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#resources{{ loop.index }}"><i class="fas fa-book"></i> View Resources</button>

                <!-- Keywords -->
                <div class="collapse mt-2" id="keywords{{ loop.index }}">
                    <h5>Keywords:</h5>
                    <ul>
                        {% for keyword in lab.keywords %}
                        <li>{{ keyword }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Resources -->
                <div class="collapse mt-2" id="resources{{ loop.index }}">
                    <h5>Resources:</h5>
                    <ul class="list-group">
                        {% for resource in lab.resources %}
                        <li class="list-group-item">
                            {{ resource }}
                            <a href="#" class="btn btn-secondary float-right">Access Resource</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
