<!doctype html>
<html lang="{{ language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% assets 'bootstrap_css' %}
      <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    {% block head %}{% endblock %}
  </head>
  <body>
    <header style="background-color: white; padding: 10px" class="mb-5">
        <div class="container">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <a href="https://labdiscoveryengine.labsland.com">
                    <img src="{{ url_for('static', filename='images/labdiscoveryengine.png') }}" alt="LabDiscoveryEngine logo" height="100">
                </a>
                <a href="{{ config['INSTITUTION_URL'] }}">
                    <img src="{{ config['INSTITUTION_LOGO'] }}" alt="{{ config['INSTITUTION_NAME'] }}" height="100">
                </a>
            </div>
        </div>
    </header>
    {% block body %}
        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
    {% endblock %}

    {% assets 'bootstrap_js' %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block tail %}{% endblock %}
  </body>
</html>
