<!doctype html>
<html lang="{{ language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% assets 'bootstrap_css' %}
      <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
    {% endblock %}

    {% assets 'bootstrap_js' %}
      <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    {% block tail %}{% endblock %}
  </body>
</html>