{% extends "default/_base.html" %}

{% block container %}
    <div class="row">

        <div class="col col-md-6 offset-md-3 mt-5">

            <h1 class="mb-5">
            {{ gettext("Log in") }}
            </h1>

            <form method="POST" action="{{ url_for('.login') }}">
                {{ form.csrf_token }}
                <div class="mb-3">
                    <label for="username" class="form-label">{{ gettext("Username") }}</label>
                    <input class="form-control" name="{{ form.username.id }}">
                    {% if form.username.errors %}
                        <div class="alert alert-danger mt-2">
                        {% for error in form.username.errors %}
                            {{ error }}
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">{{ gettext("Password") }}</label>
                    <input type="password" class="form-control" name="{{ form.password.id }}">
                    {% if form.password.errors %}
                        <div class="alert alert-danger mt-2">
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">{{ gettext("Sign in")}}</button>
            </form>
        </div>

    </div>

{% endblock %}
